:root {
  /* --vp-code-block-bg: #161618; */
}

.outline-title {
  display: none;
}

.vp-doc h2 {
  border-top: none;
  padding-top: 0;
  border-bottom: 1px solid var(--vp-c-divider);
  padding-bottom: 6px;
  margin: 36px 0 0;
}
.vp-doc h3 {
  /* margin: 24px 0 10px; */
  margin: 32px 0 10px;
}
.vp-doc h4 {
  margin: 12px 0 6px;
}
.vp-doc h5 {
  margin: 6px 0 4px;
  font-style: oblique;
}
.VPSidebarItem.level-0 {
  padding-bottom: 10px !important;
}
.vp-doc > div :first-child {
  margin-top: 0;
}
